.header {
    height: 60px;
    background: #005862;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nodes {
    display: flex;
    flex: 0 0 500px;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    align-content: center;
    cursor: pointer;
}

.header-nodes a {
    color: white;
    text-decoration: none;
    padding: 20px 40px;
}

.header-nodes a:hover {
    background: red;
    padding: 18px 40px;
}

.logout{
    flex: 0 0 100px;
    padding: 17px 40px;
}

.logout:hover {
    background: red;
}

.active{
    background: red;
}